.header_container{
    width: 100%;
    position: fixed;
    height: 30px;
    margin: 0 auto;
    display: block;
    transform: translateX(-50%);
    left: 50%;
    border-bottom: 0.5px solid var(--C0C0C0);
}

.nav{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu_right{
    display: flex;
    align-items: center;
}